<h2 class="title-wrapper" mat-dialog-title>
  <mat-icon (click)="closeModal()">close</mat-icon>
</h2>

<mat-dialog-content class="mat-typography">
  <div [style.background-image]="'url('+data.image+')'" class="image-flower"></div>
  <mat-card-content>
    <h2>{{data.name}}</h2>
    <h4>{{data.description}}</h4>
  </mat-card-content>
  <mat-card-content class="content-flex">
    <h2><b>{{data.price}} UAH</b></h2>
    <button (click)="addToCart()" mat-raised-button>ADD TO CART</button>
  </mat-card-content>
</mat-dialog-content>
