<div class="find-block">

  <div class="page-title-wrapper">
    <p class="title">
      To show love
      <br>
      no need to look for an opportunity
    </p>
  </div>
</div>


<div class="content-wrapper">
  <div class="page-wrapper">
    <div class="list-container">
      <div class="categories-block">
        <div class="filter-block">
          <p class="title-categories">
            Categories
          </p>
          <div (click)="filterFlowerByType='all'" class="view-all">
            <p>View All</p>
            <div class="btn-yellow">
              <img
                alt="" src="../../../assets/arrow-white.png">
            </div>
          </div>
        </div>
        <div class="sort-block">
          <p>Sort By:</p>
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Choose an option</mat-label>
            <mat-select (selectionChange)="handleSortModeChange($event.value)" [value]="sortMode">
              <mat-option value="default">Default</mat-option>
              <mat-option value="ascending">By price (ascending)</mat-option>
              <mat-option value="option3">By price (descending)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="flowers-types-block">
        <div (click)="handleFilterAndPagination('bouquets')"
             [className]="filterFlowerByType === 'bouquets' ? 'active type' : 'type'">
          <p>Bouquets</p>
        </div>
        <div (click)="handleFilterAndPagination('box')"
             [className]="filterFlowerByType === 'box' ? 'active type' : 'type'">
          <p>Flowers in a box</p>
        </div>
        <div (click)="handleFilterAndPagination('gypsophila')"
             [className]="filterFlowerByType === 'gypsophila' ? 'active type' : 'type'">
          <p>Gypsophila</p>
        </div>
      </div>
      <div *ngIf="(posts | filterType:filterFlowerByType | slice: lowValue : highValue)?.length; else loading"
           class="flowers-wrapper">
        <app-flower-card
          *ngFor="let post of posts | filterType:filterFlowerByType | slice: lowValue : highValue"
          [flowerPost]="post"></app-flower-card>
      </div>

      <mat-paginator #paginator (page)="getPaginatorData($event)" [length]="(posts | filterType:filterFlowerByType)?.length"
                     [pageSize]="pageSize">
      </mat-paginator>

      <ng-template #loading>
        {{lowValue}} - lowValue
        {{highValue}} - highValue
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </div>
  </div>
</div>
